* {
    box-sizing: border-box;
}

body {
    /* background-color: #030303; */
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


header {
    height: 56px;
    background-color: brown;
    flex-shrink: 0;
    display: flex;
}

main {
    background-color: aquamarine;
    flex-grow: 1;
    display: flex;
    overflow-y: hidden;
}

.side-menu {
    background-color: antiquewhite;
    width: 240px;
    flex-shrink: 0;
    flex-grow: 0;
}

.main-content {
    background-color: chartreuse;
    flex-grow: 1;
}

.side-menu, .main-content {
    overflow-y: scroll;
}

.bars-icon {
    display: flex;
    font-size: 32px;
    position: relative;
    align-items: center;
    left: 16px;
}